{% extends "base.html" %}  
{% load crispy_forms_tags %}

{% block title %}
Password Change
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Password Change</h2>
            <hr>
            <p>Enter your old password for verification, and then enter your new password twice</p>

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Change My Password">
            </form>

        </div>
    </div>
</div>


{% endblock content %}
